input[type=range].slider {
	position: relative;
	height: 5px;
	border-radius: 5px;
	background: linear-gradient(rgba(240,240,255,0.8), rgba(240,240,255,0.8)) no-repeat rgba(200,200,200,0.5);
	background-size: 50% 100%;
	-webkit-appearance: none;
}

input[type=range].slider:focus {
	outline: none;
}

input[type=range].slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 13px;
	width: 13px;
	background: white; 
	border-radius: 50%;
	border: solid 1px rgba(0,0,0,0.1);
}



.chat-box {
	display: inline-flex;
	flex-flow: column;
	width: auto;
	height: 200px;
	background: rgba(0,0,0,0.66);
	border-radius: 0 0 4px 4px;
}

#arena>.chat-box {
	z-index: 5;
    left: -15px;
    bottom: calc(1% + 185px);
}

.chat-box.folded {
	height: auto;
	border-radius: 4px;
	opacity: 0.66;
}

.chat-box.folded>div:not(.operation) {
	display: none;
}

.chat-box.folded>.operation>input,
.chat-box.folded>.operation>button:not(.fold-button) {
	display: none;
}

.chat-box.folded>.operation>button.fold-button {
	background: rgba(255,255,255,0.2);
}

.chat-box>div {
	position: static;
	width: auto;
	height: auto;
}

.chat-box>.container {
	flex: 1;
	position: relative;
	padding: 4px;
	color: white;
	box-shadow: 0 0 6px rgb(200, 150, 80) inset;
}

.chat-box>.container>.content {
	position: absolute;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	overflow-y: auto;
}

.chat-box>.container>.content>div {
	display: block;
	position: static;
	margin: 0;
	height: auto;
	word-wrap: break-word;
	word-break: break-all;
	
}    

.chat-box>.container>.content>div>.sender {
	color: #02ff02;
}

.chat-box>.operation {
	display: flex;
	flex-flow: row;
	padding: 2px;
	height: auto;
	min-height: 24px;
	max-height: 32px;
}

.chat-box>.operation>div,
.chat-box>.operation>input,
.chat-box>.operation>button {
	position: static;
}

.chat-box>.operation>.chat-input {
	flex: 1;
	padding: 4px 2px;
	margin: 0px 2px;
	outline: none;
	border: 1px solid rgb(120,120,50);
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	background: transparent;
}

.chat-box>.operation>.chat-input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.3);
	line-height: 18px;
	
}

.chat-box>.operation>input {
	font-family: inherit;
}

.chat-box>.operation>button {
	font-family: inherit;
	text-shadow: 0 0 2px black;
}

.chat-box>.operation>button:active {
	background: rgb(188,120,24);
}

.chat-box>.operation>.fold-button,
.chat-box>.operation>.send-button,
.chat-box>.operation>.sticker-button {
	padding: 4px;
	line-height: 18px;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	color: #ffffff;
	font-size: 16px;
	white-space: nowrap;
	background: rgb(236,151,31);
	transition-duration: 0.2s;
	transition-property: background, transform, opacity;
}

.chat-box>.operation>.send-button {
	margin-left: 2px;
}
