
/*基本对话框*/
#arena.decadeUI>.dialog {
    bottom: calc(19% + 75px);
}

#arena.decadeUI.dui-mobile>.dialog {
    bottom: calc(23% + 75px);
}

/*选将界面*/
#arena.decadeUI.choose-character>.dialog,
#arena.decadeUI.choose-character.dui-mobile>.dialog {
	bottom: 70px;
}

#window>.dialog.bosscharacter {
	bottom: calc(1% + 70px);
}

/*界面文本提示框*/
#arena.decadeUI>.dialog.prompt {
	top: auto;
	height: auto;
	background: none;
	transform: none;
	box-shadow: none;
}

#arena.decadeUI>.dialog.prompt>.content-container,
#arena.decadeUI>.dialog.prompt>.content-container>.content {
	position: relative;
}

#arena.decadeUI>.dialog.prompt>.content-container>.content>.caption {
    border: none;
	bottom: 0;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(250, 250, 200);
    background: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.2) 90%, transparent 100%);
    font-family: shousha;
    text-shadow: rgb(51,51,51) 1px 0 0, rgb(51,51,51) 0 1px 0, rgb(51,51,51) -1px 0 0, rgb(51,51,51) 0 -1px 0;
}

/* #arena.decadeUI>.dialog:not(.prompt)>.dui-container>.dui-content>.caption:last-child { */
	/* margin-bottom: 10px; */
/* } */

/* #arena.decadeUI>.dialog.prompt>.dui-container>.dui-content>.caption>.text { */
	/* text-align: center; */
/* } */

/*基本技能框*/
.skill-dialog {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: auto;
    height: auto;
	border-width: 46px 59px 28px 59px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url('image/decoration/dialog.png');
    border-image-slice:  46 59 28 59 fill;
	transition: opacity, background, transform 0.5s;
    z-index: 10;
}

#arena>.skill-dialog {
	left: 18%;
    top: auto;
    right: 18%;
	bottom: calc(19% + 75px);
}

#arena.dui-mobile>.skill-dialog {
	bottom: calc(23% + 75px);
}

.skill-dialog>.caption {
	position: absolute;
	left: auto;
    top: -45px;
    padding-top: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-family: shousha;
    color: rgb(255,255,200);
    text-align: center;
	pointer-events: auto;
}

.skill-dialog>div {
	position: relative;
	width: 100%;
	height: auto;
}

.skill-dialog>.content {
	flex-grow: 1;
}

.skill-dialog>.content>div {
	margin: 0;
	flex: 0 0 auto;
}

.skill-dialog>.tip:not(:empty) {
	height: 24px;
	line-height: 24px;
    color: rgb(50,25,0);
    font-size: 20px;
    font-family: shousha;
    text-align: center;
    text-shadow: none;
}

.skill-dialog>.controls {
	display: flex;
	justify-content: center;
	height: 40px;
}

.skill-dialog>.controls:empty {
	display: none;
}

.skill-dialog>.controls>.control-button {
	position: static;
	line-height: 28px;
    color: rgb(40,30,20);
    font-size: 28px;
    font-family: xingkai;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
    border-width: 6px 36px 6px 36px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url('image/decoration/button.png');
    border-image-slice: 6 36 6 36 fill;
    box-shadow: none;
    border-radius: 0;
	cursor: pointer;
	transition: opacity, background, transform 0.5s;
}

.skill-dialog>.controls>.control-button.disable {
	cursor: default;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.skill-dialog>.controls>.control-button:not(.disable):hover {
	filter: brightness(1.1);
	-webkit-filter: brightness(1.1);
}

.skill-dialog>.controls>.control-button:not(.disable):active {
	filter: brightness(0.8);
	-webkit-filter: brightness(0.8);
}



/*拼点框*/
.skill-dialog.compare>.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill-dialog.compare>.content>div {
	position: relative;
	margin-left: 4px;
	margin-right: 4px;
}

.skill-dialog.compare>.content>.player-character {
	width: 120px;
	height: 180px;
	background: rgba(0,0,0,0.4);
    box-shadow: 0px -1px 5px black, 0px 3px 15px black;
	border-radius: 8px;
}

.skill-dialog.compare>.content>.player-character.player1 {
	order: 1;
	margin-left: 6px;
}

.skill-dialog.compare>.content>.player-character.player2 {
	order: 5;
	margin-right: 6px;
}

.skill-dialog.compare>.content>.player-character>.image {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	border-radius: 8px;
}


/* 拼点框露头高度调整 */
/* 原版 */
#arena[data-outcrop-skin='on']>.skill-dialog.compare>.content>.player-character>.image {
	height: 193px;
	clip-path: url(#solo-clip);
    -webkit-clip-path: url(#solo-clip);
}

/* 十周年-电脑 */
#arena[data-outcrop-skingdtz='shizhounianpc']>.skill-dialog.compare>.content>.player-character>.image {
	height: 193px;
	clip-path: url(#solo-clip);
    -webkit-clip-path: url(#solo-clip);
}

/* 十周年-手机 */
#arena[data-outcrop-skingdtz='shizhounianmobile']>.skill-dialog.compare>.content>.player-character>.image {
	height: 193px;
	clip-path: url(#solo-clip);
    -webkit-clip-path: url(#solo-clip);
}

/* 手杀 */
#arena[data-outcrop-skingdtz='shousha']>.skill-dialog.compare>.content>.player-character>.image {
	height: 207px;
	clip-path: url(#soloss-clip);
    -webkit-clip-path: url(#soloss-clip);
}

/* 新手杀 */
#arena[data-outcrop-skingdtz='xinshousha']>.skill-dialog.compare>.content>.player-character>.image {
	height: 206px;
	clip-path: url(#soloxss-clip);
    -webkit-clip-path: url(#soloxss-clip);
}


.skill-dialog.compare>.content>.vs {
	order: 3;
	width: 70px;
    height: 70px;
	margin: 0;
    background: url('image/decoration/vs.png');
}

.skill-dialog.compare>.content>.player-card {
	order: 2;
}

.skill-dialog.compare>.content>.target-card {
	order: 4;
}

.skill-dialog.compare>.content>.player-card,
.skill-dialog.compare>.content>.target-card {
	width: 108px;
    height: 150px;
	background: rgb(141,125,103);
    box-shadow: 1px 1px 4px rgb(66,66,66) inset
}

.skill-dialog.compare>.content>.player-card>div,
.skill-dialog.compare>.content>.target-card>div {
	margin: 0;
}

.skill-dialog.compare>.content>.player-card::before,
.skill-dialog.compare>.content>.target-card::before {
	content: attr(data-text);
    position: absolute;
    left: 0;
	top: calc(50% + 80px);
    width: 100%;
    height: auto;
    color: red;
    font-family: xingkai;
    font-size: 20px;
    text-align: center;
    text-shadow: none;
}

.skill-dialog.compare>.content>.player-card::after {
	content: attr(data-result);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: red;
    font-size: 66px;
    font-family: xingkai;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 7px black, 0 0 10px black;
    
}

.skill-dialog.compare>.content>.player-card[data-result='赢']::after {
	color: red;
	animation: open 0.2s;
}

.skill-dialog.compare>.content>.player-card[data-result='没赢']::after {
	color: white;
	animation: open 0.2s;
}




    

.confirm-box {
	display: block;
    position: absolute;
    left: 12%;
    top: 10%;
    right: 12%;
    /* bottom: 25%; */
    width: auto;
    height: auto;
	min-height: 100px;
    border-width: 46px 59px 28px 59px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url('image/decoration/dialog.png');
    border-image-slice: 46 61 28 59 fill;
    pointer-events: auto;
    z-index: 10;
    animation: player-died 0.5s linear forwards;
    -webkit-animation: open 0.4s;
}

.confirm-box>.caption {
	position: absolute;
	left: auto;
    top: -45px;
    padding-top: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-family: shousha;
    color: rgb(255,255,200);
    text-align: center;
	pointer-events: auto;
}

.confirm-box>.tip {
	position: relative;
    display: block;
    width: 100%;
    height: auto;
    line-height: 24px;
    color: rgb(50,25,0);
    font-size: 20px;
    font-family: shousha;
    text-align: center;
    text-shadow: none;
	pointer-events: auto;
}

.confirm-box.guan-xing>.button.ok {
	position: relative;
	cursor: pointer;
    left: calc(50% - 66px);
    bottom: -2px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: rgb(40,30,20);
    font-size: 30px;
    font-family: shousha;
    text-align: center;
    text-shadow: none;
	white-space: nowrap;
    background: rgb(150,150,100);
    border-width: 6px 36px 6px 36px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url('image/decoration/button.png');
    border-image-slice: 6 36 6 36 fill;
    box-shadow: none;
    border-radius: 0;
}

.confirm-box.guan-xing.ok-disable>.button.ok {
	cursor: default;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.confirm-box.guan-xing:not(.ok-disable)>.button.ok:hover {
	color: white;
}



.confirm-box.guan-xing>.content {
	position: relative;
	width: 100%;
    height: 80%;
    background: linear-gradient(rgb(145,125,106), rgb(145,125,106) 149px, rgb(224,197,161) 150px, rgb(224,197,161) 159px, rgb(145,125,106) 160px, rgb(145,125,106));
	transition: none;
}
    
.confirm-box.guan-xing>.content>.card {
	cursor: pointer;
	position: absolute;
	margin: 0;
	left: 35px;
	width: 108px;
}

.confirm-box.guan-xing>.content>.header {
	display: flex;
    align-items: center;
    justify-content: center;
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    position: absolute;
    left: 0;
    margin: 0;
    width: 30px;
    height: 150px;
    color: rgb(50,25,0);
    font-size: 22px;
    font-weight: bold;
    font-family: shousha;
    text-align: center;
    text-shadow: none;
    background: rgb(194,164,131);
}

.confirm-box.guan-xing>.content>.header:last-of-type {
	bottom: 0;
}

.confirm-box.guan-xing>.content>.card.selected::after {
	opacity: 0;
}

.confirm-box.guan-xing>.content>.card.selected>.card-mask {
	display: block !important;
	opacity: 1;
}







